.tips-grid {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 18px;
}

.tip {
  min-height: 200px;
}

.tip h2 {
  color: var(--green-5);
}

@media (max-width: 750px) {

  .tips-grid {
    grid-template-columns: 1fr;
  }

}